<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AskMee</title>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<h1>AskMee!</h1>

<div class="leftside">

    <h2>Questions</h2>

      <% for(var i=0; i<ques.length; i++) {%>
        <div class="quesion-list">

            <div>
                <span class="question-item" onclick="toggle('a_<%=i%>')">
                    <%= ques[i].question %>
                </span>
                <span class="btn-update" onclick="update('<%= ques[i].uid %>')">
                    update
                </span>
            </div>

            <div id="a_<%= i %>" class="answer-container">
                <%= ques[i].answer %>
            </div>

        </div>
      <% } %>

</div>

<div class="rightside">

    <h2>Add</h2>

    <form id="quesForm" action="/ques" method="POST">
    <div id="updateeFld">
        <label>UID: </label>
        <span id="updatee"></span>
    </div>
      <div>
          <label>Question: </label> <br />
          <textarea id="newQues" name="question"></textarea>
      </div>
      <div>
          <label>Answer:</label> <br />
          <textarea id="newAns" name="answer"></textarea>
       <div>
      <div>
          <label>Keywords: </label> <br />
          <input id="newKeywords" type="text" name="keywords">
      </div>

      <div>
          <button id="updateBtn" type="submit">Add Question</button>
          <button type="reset" onclick="resetform()">Clear</button>
      </div>
    </form>

</div>


<div style="clear:both"></div>

</body>
</html>
