<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AskMee</title>
  <link rel="shortcut icon" type="image/x-icon" href="/askmee_sm.ico">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<div class="header">
    <span class="logo"><img src="/askmee_64x64.png"></span>
    <span class="page-title">AskMee!</span>
</div>

<div class="sto-cap">
    <div class="cap cap-left">
        <div class="filter-grp">
            <select name="keywords" class="filter-item" onchange="filter(this)">
                <option value=""> keyword filter </option>
                <option value="all">All Keywords</option>
                <% keywords.forEach(function(keyword){%>
                    <option><%= keyword %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="cap cap-right">
        <div class="cap-grp">
            New Meat
        </div>
    </div>
</div>

<div class="sto sto-left">

     <% dataset.forEach(function(o,i){%>
        <div class="quesion-list">

            <div class="question-item-grp">
                <span id="q_<%= i %>" class="question-item" onclick="toggle(<%=i%>)">
                    ( <%= i+1 %> ) <%= o.question %>
                </span>
                <span class="btn-update" onclick="update('<%= o.uid %>')">
                    update
                </span>
            </div>

            <div id="a_<%= i %>" class="answer-container">
                <%= o.answer %>
            </div>

        </div>
      <% }) %>
</div>

<div class="sto sto-right">

    <form id="quesForm" action="/ques" method="POST">

        <div id="updateeFld">
            <label>UID: </label>
            <span id="updatee"></span>
        </div>

      <div class="form-grp">
          <label>Question: </label>
          <textarea id="newQues" name="question"></textarea>
      </div>

      <div class="form-grp">
          <label>Answer:</label>
          <textarea id="newAns" name="answer"></textarea>
      </div>

      <div class="form-grp">
          <label>Keywords: </label>
          <input id="newKeywords" type="text" name="keywords">
          <select class="keyword-selector" onchange="addkeyword(this)">
              <option value=""></option>
              <% keywords.forEach(function(keyword){%>
                  <option><%= keyword %></option>
              <% }) %>
          </select>
      </div>

      <div class="btn-grp">
          <button id="updateBtn" type="submit">Add Question</button>
          <button type="reset" onclick="resetform()">Clear</button>
      </div>

    </form>

</div>


<div style="clear:both"></div>

</body>
</html>
